* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin: 0;

}

button:focus{
  outline:none !important;
}

#app {
    background-color: #4D6D9A;
    position: fixed;
    top: 0px;
    width: 100%;
}

.navbar {
    list-style: none;
}

.nav-item {
    color: white;
}

.nav-item:hover {
    color: white;
    font-style: none;
}

  .modal-content {
    background: #EDB5BF;
    color: #000;
    width: 20em;
    margin: 20%;
    border-radius: 5%;
}


.avatar {
    width: 5em;
    height: 5em ;
    border-radius: 50%;
    position: absolute;
    top: -17%;
    left: calc(50% - 2.5em);
}

.btn {
    padding: 0em 2em;
    border: none;
    outline: none;
    height: 2em;
    background: #ffff;
    color: #000;
    font-size: 18px;
    border-radius: 1em;
}

.form-control {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #000;
    background: transparent;
    outline: none;
    height: 40px;
    color: #000;
    font-size: 16px;
}

.switch {
    position:relative;
    left: 72px;
    bottom: 36px;
    display: inline-block;
    width: 40px;
    height: 20px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 0px;
    bottom: 0px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: #4D6D9A;
  }

  input:focus + .slider {
    box-shadow: 0 0 2px #4D6D9A;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }

  /* Rounded sliders */
.slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;}

*{
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;

}
.sidebar{
  position: fixed;
  /*left: -230px;*/
  bottom: 2px;
  width: 230px;
  height: 100%;
  background: #99CED3;
  /*transition: all .5s ease;*/

}

.sidebar header{
  font-size: 22px;
  color: black;
  text-align: center;
  line-height: 57px;
  background: #86B3D1 ;
  user-select: none;
}

.sidebar ul a{
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: black;
  padding-left: 40px;
  box-sizing: border-box;
  border-top: 1px solid #4D6D9A;
  border-bottom: 1px solid rgb(139, 124, 207);
  /*transition: 4s;*/
}

ul li :hover a{
  padding-left: 50px;
}

.sidebar ul a i{
  margin-right: 16px;
}
#ctable2{
  position: relative;
  left: 16vw;
  width: 80vw;
  height: 85vh;
  margin: 3vh;
}
#ctable{
  position: relative;
  top: 10vh;
  left: 16vw;
  width: 80vw;
  height: 20vh;
  margin: 3vh;
}


#btn-upd{

  background-color: rgb(133, 202, 154);
  border: #000;
  border-radius: 25px;
  padding: 6px 10px;
  right: 15px;
}

.btn-del{
  background-color: #eb5248;
  border: #000;
  border-radius: 25px;
  padding: 6px 12px;
  margin-left: 5px;
  right: 5px;

}
#btn-add{
  position: relative;
  background-color: #4D6D9A;
  border: #000;
  border-radius: 25px;
  padding: 3px 20px;
  right: 80%;
  width: 12%;
}


/*
#btn-pass{
  background-color: #ffffff;
  border: #000;
  border-radius: 25px;
  padding: 10px 23px;
  cursor: not-allowed;

} 
*/#styled-tab{
  position: relative;
  top: 12px;
  left: 3.5%;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 95%;
}
#styled-tab td{
    border: 1px solid #ddd;
    padding: 8px;
    height: 50px;
    vertical-align: center;
    width: 20%;
    text-align: center;
  }
  #styled-tab th {
    border: 1px solid #ddd;
    padding: 8px;
    table-layout: auto;
    width: 40px;
  }
  
#styled-tab tr:nth-child(even){
    background-color: #f2f2f2;
    
  }

#styled-tab tr:hover {
    background-color: rgb(213, 236, 247);}
  
#styled-tab th {
    width: 10%;
    text-align: center;
    background-color: #86B3D1;
    color: black;
  }

* {
  box-sizing: border-box;
}

form.example input[type=text] {
  position: relative;
  padding: 6px;
  font-size: 17px;
  border: 1.5px solid grey;
  left: 75%;
  float: left;
  width: 20%;
  background: #fffefe;
}

form.example button {
  float: right;
  width: 5%;
  padding: 6px;
  background:#4D6D9A;
  color: white;
  font-size: 17px;
  border: 1.5px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background:#86B3D1;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}


form.example input[type=text] {
  position: relative;
  padding: 6px;
  font-size: 17px;
  border: 1.5px solid grey;
  left: 75%;
  float: left;
  width: 20%;
  background: #fffefe;
}
.img-fluid{
  object-fit: cover;
  height: 30vh;
  width: 50vw;
}

.card{
  margin-top: 15px;
  border-color: #4D6D9A;
  border: 2px solid;
  left: 50%;
  right: 50%;
}
.card-title{
  color: #eb5248;
}