* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin: 0;
}

#app {
    background-color: #41B3A3;
}

.navbar {
    list-style: none;
}

.nav-item {
    color: white;
    padding: 0.5em;
}

.nav-item:hover {
    color: white;
    font-style: none;
}

/************************************************************************/
/* MODAL FOR LOGIN */
.modal-content {
    background: #C38D9E;
    color: #000;
    border-radius: 5%;
}

