.mid {
	background-color: #4D6D9A;
	/* display: inline-block; */
	width: 100%;
    height: 10%;
    color: white;
    overflow: hidden;
    position: sticky;
}

.navbar{
    text-align: center;
    color: white;
	/* display:inline-block; */
}




.navbar li{

list-style: none;
/* display:inline-block; */

margin:auto;
}

.navbar col link{
text-decoration: none;
color:white;
font-size: 18px;
}

/* .navbar li a:hover{
color:rgb(151, 7, 247);
border: darkmagenta;
border-radius: 2px;
font-size: 20px;
} */

/* .navbar li a:active{
background-color: white;
color: #4D6D9A
} */
