.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* ----------------SIDEBAR----------------------------*/
#header {
  position: fixed;
  width: 220px;
  z-index: 1;
}
#header .pro-sidebar {
  height: 100vh;
  z-index: 1;
}
#header .closemenu {
  color: white;
  position: absolute;
  right: 0;
  z-index: 9999;
  line-height: 20px;
  border-radius: 50%;
  font-weight: bold;
  font-size: 22px;
  top: 55px;
  cursor: pointer;
}
#header .pro-sidebar {
  width: 100%;
  min-width: 100%;
}
#header .pro-sidebar.collapsed {
  width: 80px;
  min-width: 80px;
}
#header .pro-sidebar-inner {
  background-color: #4D6D9A;
  box-shadow: 0.5px 0.866px 2px 0px rgba(0, 0, 0, 0.15);
}
#header .pro-sidebar-inner .pro-sidebar-layout {
  overflow-y: hidden;
}
#header .pro-sidebar-inner .pro-sidebar-layout .logotext p {
  font-size: 20px;
  padding: 0 20px;
  color: white;
  font-weight: bold;
}
#header .pro-sidebar-inner .pro-sidebar-layout ul {
  padding: 0 5px;
}
#header .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item {
  color: white;
  margin: 10px 0px;
  font-weight: bold;
}
#header .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item .pro-icon-wrapper {
  background-color: #fbf4cd;
  color: #000;
  border-radius: 3px;
}
#header .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item .pro-icon-wrapper .pro-item-content {
  color: white;
}
#header .pro-sidebar-inner .pro-sidebar-layout .active {
  background-image: linear-gradient(0deg, #628ac2 0%, #628ac2 100%);
}
#header .logo {
  padding: 20px;
}

#header .pro-sidebar .pro-menu a{
  color: white;
}

@media only screen and (max-width: 720px) {
  html {
    overflow: hidden;
  }
}



/*-------------------CLIENTI-----------------*/

#clienti {
  margin-left: 90px

}

#clienti h1{
  text-align: center;
}

/*-------------------DIPENDENTI-----------------*/
#dipendenti {
  margin-left: 90px
}

#dipendenti h1{
  text-align: center;
}

/*-------------------INVENTARIO-----------------*/
#inventario {
  margin-left: 90px
}

#inventario h1{
  text-align: center;
}

/*-------------------NOLEGGI-----------------*/
#noleggi {
  margin-left: 90px
}

#noleggi h1{
  text-align: center;
}


/*-------------------LINECHART---------------------*/
#chartDiv{
  position: fixed;
  z-index: -1;
}  

#buttonShow{
  display: flex;
  justify-content: center;
}

#arcobaleno{
  text-align: center;
  background-image: linear-gradient(to left, violet, indigo, blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#startPage{
  background-image: url('https://site202133.tw.cs.unibo.it/public/img/nolonolo.png');
  background-repeat: no-repeat;
  background-position: center center;
}

/*---------------NAVBAR--------------------*/
#navbarMenu {
  background-color: #4D6D9A;

  overflow: hidden;
  position: sticky; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 5;
}

.navbar {
  list-style: none;
}

.navbar-toggler {
  color: white;
}

.nav-item {
  color: white;
  padding: 0.5em;
}

.nav-item:hover {
  color: white;
  font-style: none;
}


/*--------------FOOTER------------------*/
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-footer {
  justify-content: center;
}

#logModContainer {
  justify-content: center;
}

#loginModal {
  justify-content: center;
  padding-top: 10vh;
}

#footer {
  /*(up-right-down-left)*/
  justify-content: space-around;

  background-color: lightcyan;
  padding: 3vh 5vw 3vh 5vw;
}

.element {
  justify-content: center;
}

@media screen and (max-width: 600px) {
  #footer {
      /*(up-right-down-left)*/
      justify-content: center; 
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
  }
}

/*--------------------Modale per registrazione---------------------*/
/* MODALS */

.modal-content {
  background: #EDB5BF;
  color: #000;
  /*width: 20em;*/
  /*margin: 20vw;*/
  border-radius: 5%;
}

#loginfo {
  color: red;
}

.avatar {
  width: 5em;
  height: 5em ;
  border-radius: 50%;
  position: absolute;
  top: -17%;
  left: calc(50% - 2.5em);
}

.btn {
  padding: 0em 2em;
  border: none;
  outline: none;
  height: 2em;
  background: #ffff;
  color: #000;
  font-size: 18px;
  border-radius: 1em;
}

.form-control {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #000;
  background: transparent;
  outline: none;
  height: 40px;
  color: #000;
  font-size: 16px;
}

/**/
#newRegC {
  visibility: hidden;
}

#titoliCentro{
  text-align: center;
}
